<div class="container-table">

  <div class="flexContainer">
    <!-- Trigger/Open The Modal -->
    <div class="left">
      <button class="btnAdd"  (click)="makeVisible()">Add Car</button>
      <button class=" btnAdd saveAsPdf" (click)="saveAsPdf()" *ngIf="false">PDF</button>
    </div>
    <!-- END Trigger/Open The Modal -->

    <!-- SEARCH INPUT -->
    <div class="right ">
      <input type="text" (keyup)="search($event)" placeholder="   Search.." name="search">
    </div>
    <!-- END SEARCH INPUT -->

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive tableFixHead">
        <table id="mytable" class="table  table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Registration</th>
              <th>TravelledKM</th>
              <th>AvgFuelUse</th>
              <th>Model</th>
              <th>IsInUse</th>
              <th>Edit</th>
              <th>Delete</th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let car of cars" [ngClass]='{warningCar : car.travelledKm >= 50000.0, dangerCar : car.travelledKm >= 300000.0}'>
              <td ></td>
              <td *ngIf="show(car)">{{car.regNo}}</td>              
              <td *ngIf="show(car)">{{car.travelledKm}}</td>
              <td *ngIf="show(car)">{{car.avgFuelUse}}</td>
              <td *ngIf="show(car)">{{car.model}}</td>
              <td *ngIf="show(car)">{{car.isInUse}}</td>              
              <td *ngIf="show(car)">
                <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                    class="btn btn-primary btn-xs btnRight" data-title="Edit" data-toggle="modal"
                    data-target="#edit" (click)="makeVisible2(car)"><span class="glyphicon glyphicon-pencil"
                      (click)="makeVisible2(car)"></span></button>
                </p>
              </td>
              <td *ngIf="show(car)">
                <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                    class="btn btn-danger btn-xs btnRight" data-title="Delete" data-toggle="modal"
                    data-target="#delete" (click)="makeVisible3(car)"><span class="glyphicon glyphicon-trash"
                      (click)="makeVisible3(car)"></span></button>
                </p>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- ADD MODAL -->
<form [formGroup]="addCarForm">
<div id="myModal" class="modal2" *ngIf="visible">

  <!-- Modal content -->
  <div class="modal2-content">
    <div class="form-row">     
        <div class="col-md-6 mb-3">
            <label for="validationServer01">Registration</label>
            <input type="text" formControlName="registration" class="form-control" id="validationServer01" placeholder="Registration" required>
            <div class="invalid-feedback" *ngIf="false">
              <p>Please Enter Registration</p>
            </div>
          </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer02">TravelledKM</label>
        <input type="text" formControlName="travelledKm" class="form-control" id="validationServer02" placeholder="TravelledKM" required>
        <div class="invalid-feedback" *ngIf="false">
          <p>Please Enter TravelledKM</p>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServerUsername">AvgFuelUse</label>      
          <input type="text" formControlName="avgFuelUse" class="form-control" id="validationServerUsername" placeholder="AvgFuelUse" required>
          <div class="invalid-feedback" *ngIf="false">
            <p>Please choose avgFuelUse</p>
          </div>        
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Model</label>
        <input type="text" formControlName="model" class="form-control" id="validationServer03" placeholder="Model" required>
        <div class="invalid-feedback" *ngIf="false">
          <p>Please Enter a Model</p>
        </div>
      </div>      
    </div>  
    
    <button (click)="addCar()" class="btn btn-success btnAddIn">Add</button>
    <button class="btn btn-danger btnCancel" (click)="closeVisible()">Cancel</button>
  </div>

</div>
</form>
<!-- END ADD MODAL -->


<!-- EDIT MODAL -->
<form [formGroup]="editCarForm" >
<div id="myModal2" class="modal2" *ngIf="visible2">
  <!-- Modal content -->
  <div class="modal2-content">
    <div class="form-row">      
      <div class="col-md-4 mb-3">
        <label for="validationServer02">TravelledKM</label>
        <input type="text" formControlName="travelledKm" class="form-control" id="validationServer02" placeholder="TravelledKM" required>
        <div class="invalid-feedback" *ngIf="false">
          <p>Please Enter TravelledKM</p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServerUsername">AvgFuelUse</label>        
          <input type="text" formControlName="avgFuelUse" class="form-control" id="validationServerUsername" placeholder="AvgFuelUse"
            aria-describedby="inputGroupPrepend3" required>
          <div class="invalid-feedback" *ngIf="false">
            <p>Please choose avgFuelUse</p>
          </div>        
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer03">Model</label>
        <input type="text" formControlName="model" class="form-control" id="validationServer03" placeholder="model" required>
        <div class="invalid-feedback" *ngIf="false">
          <p>Please Enter a Model</p>
        </div>
      </div>
    </div>    

    <button class="btn btn-success btnAddIn" (click)="editCarFormMethod()" >Edit</button>
    <button class="btn btn-danger btnCancel" (click)="closeVisible2()">Cancel</button>
  </div>

</div>
</form>
<!-- END EDIT MODAL -->


<!-- DELETE MODAL -->

<div id="myModal3" class="modal3" *ngIf="visible3">

  <!-- Modal content -->
  <div class="modal3-content">
    <p>Are you sure you want to delete?</p>
    <button class="btn btn-success btnAddIn" (click)="deleteCar()">Confirm</button>
    <button class="btn btn-danger btnCancel" (click)="closeVisible3()">Cancel</button>
  </div>

</div>

<!-- END DELETE MODAL -->