
/* Top Bar
--------------------------------------------------------------------------------------------------------------- */

#topbar { 
  font-size: 10px;
  text-transform: uppercase;
}

#topbar * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#topbar ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid;
 }

#topbar ul li i{
  color: #102cb9;   
  font-size: 17px; 
}

#topbar i {
  margin: 0 5px 0 10px;  
}
/* Header
--------------------------------------------------------------------------------------------------------------- */

#header{  
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#header * {
  margin: 0;
  padding: 0;  
  font-family: 'Open Sans', sans-serif;
}
.logo {
  width:27%;
 }

/* Body
--------------------------------------------------------------------------------------------------------------- */
body{
  background-color: grey;
  height:1200px;
}

/* Footer
--------------------------------------------------------------------------------------------------------------- */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin:100px 0 0 0;
  z-index: 1;
}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */

*, *::before, *::after {
  transition: all 0.3s ease-in-out;
}

#mainav form * {
  transition: none !important;
}

/* Navigation
--------------------------------------------------------------------------------------------------------------- */

nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Top Navigation */

#mainav ul {
  text-transform: uppercase;
  text-align: center;
}

#mainav ul ul {
  z-index: 9999;
  position: absolute;
  width: 160px;
  text-transform: none;
  text-align: left;
}

#mainav li {
  display: inline-block;
  position: relative;
  margin: 0 30px 0 0;
  padding: 0;
}

#mainav li:last-child {
  margin-right: 0;
}


#mainav li a {
  display: block;
  padding: 10px 0;
  text-decoration:none;
}
/* Back to Top */

#backtotop {
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  width: 37px;
  height: 37px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  opacity: 0.8;
  border-radius: 34%;
}

#backtotop i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

#backtotop.visible {
  visibility: visible;
  opacity: 0.8;
}

#backtotop:hover {
  opacity: 1;
}


/* Rows */

.row0, .row0 a {
  color: #fff;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;   
}

.row1 {
  color: #ffffff;
  background-color: #000;
  font-size: 15px;
}


/* Navigation */

#mainav li a {
  color: inherit;
}

#mainav .active a, #mainav a:hover, #mainav li:hover>a {
  color: #102cb9;
  background-color: inherit;
}
#mainav li li a, #mainav .active li a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}

#mainav li li:hover>a, #mainav .active .active>a {
  color: #ffffff;
  background-color: red;
}

#mainav form select {
  color: #ffffff;
  background-color: #000;
  border-color: rgba(255, 255, 255, 0.2);
}

#backtotop {
  color: #ffffff;
  background-color: #006eff;
}

/* Glowing text
--------------------------------------------------------------------------------------------------------------- */

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
} 

 @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #032dff, 0 0 40px #032dff, 0 0 50px #032dff, 0 0 60px #032dff, 0 0 70px #032dff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1d36b3, 0 0 40px #1d36b3, 0 0 50px #1d36b3, 0 0 60px #1d36b3, 0 0 70px #1d36b3, 0 0 80px #1d36b3;
  }
 }


html, body{margin:0; padding:0; font-size:24px; line-height:1.1em;}

*, *::before, *::after{box-sizing:border-box;}


.clear{display:block;}
.clear::before, .clear::after{display:table; content:"";}
.clear, .clear::after{clear:both;}


.fl_left{float:left;}
.fl_right{float:right;}


.hoc{display:block; margin:0 auto;}



/* Forms
--------------------------------------------------------------------------------------------------------------- */
form{
  margin: 0px 16px;  
  font-family: 'Open Sans', sans-serif;
}
.imgUnder{
  width:100%;
  padding: 3% 10% 10% 10%;
}
.form-group{
  font-size: 12px
}
.form-group input.invalid{
border: 1px solid #dc3545; 
}
.form-group label:first-child{
text-transform: uppercase;
font-size: 15px;
font-family: 'Open Sans', sans-serif;
color: #fff;
}

input.form-control,input.form-control:focus{
  background-color: #fff;
  color: #000;
  border: 1px solid #636b7b;
  font-size: 17px;  
}

input.form-control:focus{
  box-shadow: none;
}

button[type=submit].btn{
  border-radius: 5px;
  background-color: #102cb9;
  color: #fff;  
  font-size: 15px;
  margin-top:50px;   
}

.form-group.required>label:first-child:after{
  content:'*';
  color: #fff;
  padding-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

#toast-container > div {
  opacity:1;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;  
}

.wrapped-div {
  -webkit-border-radius: 10px;
  border-radius: 10px;  
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.9);    
}

/* Tabs */
.tab-header{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display:inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
    outline: none;
}
.pointer {
  cursor: pointer;
}


/* TABLE */

.table {
  width: 100%;
  margin-bottom: -1%;
  color: #212529;
  background: rgb(250, 250, 250); 
   
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgb(187, 182, 255);
}

.container-table{
  width:70%;
  font-size: 15px;
  margin: 25px auto;
  float: none;    
}

.btnRight{
  font-size: 10px;
  z-index: -999;
}

.tableFixHead {
  overflow-x:auto;  
  overflow-y: hidden;   
  height: auto;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;  
}

/* ADD Button */
.btnAdd {
	-moz-box-shadow: 0px 1px 0px 0px #857b85;
	-webkit-box-shadow: 0px 1px 0px 0px #857b85;
	box-shadow: 0px 1px 0px 0px #857b85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #857350), color-stop(1, #171617));
	background:-moz-linear-gradient(top, #857350 5%, #171617 100%);
	background:-webkit-linear-gradient(top, #857350 5%, #171617 100%);
	background:-o-linear-gradient(top, #857350 5%, #171617 100%);
	background:-ms-linear-gradient(top, #857350 5%, #171617 100%);
	background:linear-gradient(to bottom, #857350 5%, #171617 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#857350', endColorstr='#171617',GradientType=0);
	background-color:#857350;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #63615e;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;	
	padding:8px 14px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff; 
  
}
.btnAdd:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #171617), color-stop(1, #857350));
	background:-moz-linear-gradient(top, #171617 5%, #857350 100%);
	background:-webkit-linear-gradient(top, #171617 5%, #857350 100%);
	background:-o-linear-gradient(top, #171617 5%, #857350 100%);
	background:-ms-linear-gradient(top, #171617 5%, #857350 100%);
	background:linear-gradient(to bottom, #171617 5%, #857350 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#171617', endColorstr='#857350',GradientType=0);
  background-color:#fffbfb;
  color:#fff;
}
.btnAdd:active {
	position:relative;
	top:1px;
}

.flexContainer{
  display:flex;
}


.left{
  flex-grow:1;  
}

.right{
  flex-grow:1;
  display: inline-block;
  margin-top:5px;

}

.right input{
float:right;
border-radius:15px;
width:100%;
height: 40px;
}

/* The Modal (background) */
.modal2 {
   /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal2-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  text-align: center;
}

.modal2-content button{
  width:100px;
  margin-left:0; 
}

/* CLOSE BUTTON */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal3 (background) */
.modal3 {
  /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal3 Content */
.modal3-content {
 background-color: #fefefe;
 margin: auto;
 padding: 20px;
 border: 1px solid #888;
 width: 40%;
 border-radius: 10px;
 text-align: center;
}

/* The Close Button3 */
.close {
 color: #aaaaaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: #000;
 text-decoration: none;
 cursor: pointer;
}

.modal3-content button{
  width:100px;
  margin-left:0;
}


/*CANCEL BUTTON*/
.btnCancel {
	-moz-box-shadow: 0px 1px 0px 0px #a30000;
	-webkit-box-shadow: 0px 1px 0px 0px #a30000;
	box-shadow: 0px 1px 0px 0px #a30000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5c5c), color-stop(1, #8c0202));
	background:-moz-linear-gradient(top, #ff5c5c 5%, #8c0202 100%);
	background:-webkit-linear-gradient(top, #ff5c5c 5%, #8c0202 100%);
	background:-o-linear-gradient(top, #ff5c5c 5%, #8c0202 100%);
	background:-ms-linear-gradient(top, #ff5c5c 5%, #8c0202 100%);
	background:linear-gradient(to bottom, #ff5c5c 5%, #8c0202 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c5c', endColorstr='#8c0202',GradientType=0);
	background-color:#ff5c5c;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #d12e2e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btnCancel:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8c0202), color-stop(1, #ff5c5c));
	background:-moz-linear-gradient(top, #8c0202 5%, #ff5c5c 100%);
	background:-webkit-linear-gradient(top, #8c0202 5%, #ff5c5c 100%);
	background:-o-linear-gradient(top, #8c0202 5%, #ff5c5c 100%);
	background:-ms-linear-gradient(top, #8c0202 5%, #ff5c5c 100%);
	background:linear-gradient(to bottom, #8c0202 5%, #ff5c5c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c0202', endColorstr='#ff5c5c',GradientType=0);
	background-color:#8c0202;
}
.btnCancel:active {
	position:relative;
	top:1px;
}

/*ADD - EDIT BUTTON*/

.btnAddIn {
	-moz-box-shadow: 0px 1px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 1px 0px 0px #3dc21b;
	box-shadow: 0px 1px 0px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #458a57), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #458a57 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #458a57 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #458a57 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #458a57 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #458a57 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#458a57', endColorstr='#5cbf2a',GradientType=0);
	background-color:#458a57;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin:5px;
}
.btnAddIn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #458a57));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #458a57 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #458a57 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #458a57 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #458a57 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #458a57 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#458a57',GradientType=0);
	background-color:#5cbf2a;
}
.btnAddIn:active {
	position:relative;
	top:1px;
}

/* RADIOBUTTONS */

.radioButtons{
  margin-top:30px;
  text-align: left;
  padding:5px;
}

.radioButtons input{
  margin-top:8px;
  margin-left:25px;
  
 
}