
/* Top Bar
--------------------------------------------------------------------------------------------------------------- */

#topbar { 
  font-size: 10px;
  text-transform: uppercase;
}

#topbar * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#topbar ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid;
 }

#topbar ul li i{
  color: #102cb9;   
  font-size: 17px; 
}

#topbar i {
  margin: 0 5px 0 10px;  
}
/* Header
--------------------------------------------------------------------------------------------------------------- */

#header{  
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#header * {
  margin: 0;
  padding: 0;  
  font-family: 'Open Sans', sans-serif;
}
.logo {
  width:27%;
 }

/* Body
--------------------------------------------------------------------------------------------------------------- */
body{
  background-color: grey;
}

/* Footer
--------------------------------------------------------------------------------------------------------------- */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */

*, *::before, *::after {
  transition: all 0.3s ease-in-out;
}

#mainav form * {
  transition: none !important;
}

/* Navigation
--------------------------------------------------------------------------------------------------------------- */

nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Top Navigation */

#mainav ul {
  text-transform: uppercase;
  text-align: center;
}

#mainav ul ul {
  z-index: 9999;
  position: absolute;
  width: 160px;
  text-transform: none;
  text-align: left;
}

#mainav li {
  display: inline-block;
  position: relative;
  margin: 0 30px 0 0;
  padding: 0;
}

#mainav li:last-child {
  margin-right: 0;
}


#mainav li a {
  display: block;
  padding: 10px 0;
  text-decoration:none;
}
/* Back to Top */

#backtotop {
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  width: 37px;
  height: 37px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  opacity: 0.8;
  border-radius: 34%;
}

#backtotop i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

#backtotop.visible {
  visibility: visible;
  opacity: 0.8;
}

#backtotop:hover {
  opacity: 1;
}


/* Rows */

.row0, .row0 a {
  color: #fff;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;   
}

.row1 {
  color: #ffffff;
  background-color: #000;
  font-size: 15px;
}


/* Navigation */

#mainav li a {
  color: inherit;
}

#mainav .active a, #mainav a:hover, #mainav li:hover>a {
  color: #102cb9;
  background-color: inherit;
}
#mainav li li a, #mainav .active li a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}

#mainav li li:hover>a, #mainav .active .active>a {
  color: #ffffff;
  background-color: red;
}

#mainav form select {
  color: #ffffff;
  background-color: #000;
  border-color: rgba(255, 255, 255, 0.2);
}

#backtotop {
  color: #ffffff;
  background-color: #006eff;
}

/* Glowing text
--------------------------------------------------------------------------------------------------------------- */

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
} 

 @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #032dff, 0 0 40px #032dff, 0 0 50px #032dff, 0 0 60px #032dff, 0 0 70px #032dff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1d36b3, 0 0 40px #1d36b3, 0 0 50px #1d36b3, 0 0 60px #1d36b3, 0 0 70px #1d36b3, 0 0 80px #1d36b3;
  }
 }


html, body{margin:0; padding:0; font-size:24px; line-height:1.1em;}

*, *::before, *::after{box-sizing:border-box;}


.clear{display:block;}
.clear::before, .clear::after{display:table; content:"";}
.clear, .clear::after{clear:both;}


.fl_left{float:left;}
.fl_right{float:right;}


.hoc{display:block; margin:0 auto;}



/* Forms
--------------------------------------------------------------------------------------------------------------- */
form{
  margin: 0px 16px;  
  font-family: 'Open Sans', sans-serif;
}
.imgUnder{
  width:100%;
  padding: 3% 10% 10% 10%;
}
.form-group{
  font-size: 12px
}
.form-group input.invalid{
border: 1px solid #dc3545; 
}
.form-group label:first-child{
text-transform: uppercase;
font-size: 15px;
font-family: 'Open Sans', sans-serif;
color: #fff;
}

input.form-control,input.form-control:focus{
  background-color: #fff;
  color: #000;
  border: 1px solid #636b7b;
  font-size: 17px;  
}

input.form-control:focus{
  box-shadow: none;
}

button[type=submit].btn{
  border-radius: 5px;
  background-color: #102cb9;
  color: #fff;  
  font-size: 15px;
  margin-top:50px;   
}

.form-group.required>label:first-child:after{
  content:'*';
  color: #fff;
  padding-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

#toast-container > div {
  opacity:1;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.wrapped-div {
  -webkit-border-radius: 10px;
  border-radius: 10px;  
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.9);  
}

/* Tabs */
.tab-header{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display:inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
    outline: none;
}
.pointer {
  cursor: pointer;
}
