

<div class="ifn" *ngIf=true>
   <!--HEADER TOP-->
   <div class="row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left">
        <ul>
          <li>
            <i class="fa fa-phone pointer glow"></i><a>(+381) 011/ 1234-567</a>
          </li>
          <li>
            <a href="mailto:info@robot.gmail.com"><i class="fa fa-envelope-o pointer glow"></i></a>
            <a href="mailto:info@robot.gmail.com">vehicleservice@robot.gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="fl_right">
        <ul>
          <li>
            <a href="index.html"><i class="fa fa-lg fa-home glow"></i></a>
          </li>
          
          <li>
            <a class="pointer" >Logout</a>
          </li>
        </ul>
      </div>
    </div>    
  </div>
  <!--END HEADER TOP-->


<!--HEADER-->
<div class="row1">
  <header id="header" class="hoc clear">
    <!-- Logo -->
    <div >
      <h1><a href="index.html"><img class="logo" src="assets/images/CompanyVehicleService.png"></a></h1>        
    </div>
    <!-- End Logo -->
    <nav id="mainav">
      <ul class="clear">
        <li routerLinkActive="active current"><a routerLink="/car">CARS</a></li> 
        <li routerLinkActive="active current"><a routerLink="/warrant">WARRANTS</a></li>              
        <li routerLinkActive="active current"><a routerLink="/employee">EMPLOYEES</a></li>
        <li routerLinkActive="active current"><a routerLink="/user">USERS</a></li>
        <li routerLinkActive="active current"><a routerLink="/guide">GUIDE</a></li>
      </ul>
    </nav>
  </header>
</div>
<!--END HEADER-->




<!--FOOTER-->
<footer>
<div class="footer">
  <p>Copyright &copy; 2019 - All Rights Reserved</p>
</div>  

</footer> 


<!--Back To Top-->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!--End Back To Top-->

<!--END FOOTER-->

</div>
<router-outlet></router-outlet>

